.header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 50px auto;
}

.form-ricerca {
    max-width: 330px;
    padding: 15px;
    margin: 50px auto;
}

.form-ricerca .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

#results {
    font-size:larger;
    font-family: "Open Sans";
    width: max-content;
    padding: 25px;
    margin: auto;
    background-color: #DDDDDD;
    border-radius: 16px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

.header{
    box-sizing: border-box;
    height: auto;
    background-color: #b9dbb3;
}

.hello-title{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.hide { display: none; }
.show { display: block; }

a:link.show {
color: black;
}

/* visited link */
a:visited.show {
color: black;
}

/* mouse over link */
a:hover.show {
color: rgb(76, 95, 112);
}

a.title {
    color: #303030;
    text-decoration: none;
}

a:hover.title {
    color: rgb(75, 75, 75);
    text-decoration: none;
}

.login-button {
    max-width: 330px;
    padding: 15px;
    margin: 50px auto;
    position: absolute;
    right: 0;
    top: -55px;
}

.logout-button {
    max-width: 330px;
    padding: 15px;
    margin: 50px auto;
    position: absolute;
    right: 0;
    top: -55px;
}

.button {
    /*color: #fff;
    background-color: #337ab7;
    */
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 6px;
    line-height: 1.3333333;
    font-size: 18px;
    padding: 10px 16px;
}

.menu {
    max-width: 330px;
    padding: 15px;
    margin: 50px auto;
    position: fixed;
    left: 0;
    top: 30;
}

#nuovaPrenotazione{
    margin: 30px auto;
    max-width: 70%;
}

#nuovaPrenotazione input{
    margin-bottom: 15px
}

#nuovaPrenotazione-builder{
    width: 100%;
    background-color: #DDDDDD;
    border-radius: 20px;
}

table{
    border-collapse: separate;
    border-spacing: 1.3em;
}

table .spacer{
    width: 2em;
}

#inviaPrenotazione{
    padding: 9px;
    float: right;
    margin: 3em;
    background-color: #ff43439b;
    border-radius: 10px
}

input[type="date"] {
    padding: 0;
    padding-left: 10px;
}

#error{
    color: #FF4343;
}

#post-error{
    color: #FF4343;
}

#post-success{
    color: green;
}

.tablePrenotazioni{
    font-size: 16px;
    font-family: "Open Sans";
    width: max-content;
    padding: 25px;
    margin: 30px auto;
    background-color: #DDDDDD;
    border-radius: 16px;
}