.button {
    //color: #fff;
    //background-color: #337ab7;
    width: 100%;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    line-height: 1.3333333;
    font-size: 18px;
    padding: 10px 16px;
}

.high_left_menu {
    max-width: 330px;
    padding: 15px;
    margin: 50px auto;
}

.high_right_menu {
    max-width: 330px;
    padding: 15px;
    margin: 50px auto;
}